<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SQLserverConnectionString" connectionString="workstation id=AppDataBase.mssql.somee.com;packet size=4096;user id=eskantu_SQLLogin_2;pwd=hxamyhy2kn;data source=AppDataBase.mssql.somee.com;persist security info=False;initial catalog=AppDataBase"/>
  </connectionStrings>
</configuration>